.carts{
    max-width: 275px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 10px;
    margin: 10px;
    display:inline-block;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .carts img{
    width: 100%;
  }
  .carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
  }
  .carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #1976d2;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  .carts div{
    position: relative;
  }
  .carts a{
    font-family: system-ui;
    text-decoration: none;
    background: #1976d2;
    padding: 6px 15px;
    margin: 40px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700; 
  }
  
  .carts a:hover{
    background: #fff;
    color: black;
    border: solid 2px black;
    transition-duration: .3s;
  }
  .carts a:hover + .cart-products{
    display: block;
  } 